%h1
  Envoi du
  &= @issue.deliver_at.to_formatted_s
  %small&= "- #{@issue.newsletter.name}"

%div
  %h4 Titre:
  &= @issue.email_title
  %h4 Contenu :
  .help
    Le contenu est un exemple de newsletter que recevra un abonné.
  %iframe{ :src => newsletter_issue_preview_path(@issue.newsletter, @issue), :width => '100%', :height => '300'}/
