%h1
  Mes newsletters
  %small= "- #{@count}"
- unless @newsletters.empty?
  %table.listing
    %tr
      %th Nom
      %th Prochains envois
      %th Statut
      %th Actions
    = render :partial => 'newsletter', :collection => @newsletters
