%table
  %tr
    %th Identifiant
    %th Email
    %th Prénom
    %th Nom
    %th Sexe
    %th Date de naissance
    %th Age
    %th Ville
    %th Etat
    %th Pays
  = render :partial => 'subscribers/subscriber', :collection => @subscribers
